<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会议管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        
                        <input type="hidden" id="roleType"  th:value="${roleType}"/>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">会议主题：
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="meetingTheme" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary " onclick="meeting.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary " onclick="meeting.reset()">
                                    <i class="fa fa-eraser"></i>&nbsp;重置
                                </button>
                            </div>
                        </div>
                        <div class="hidden-xs" id="meetingTableToolbar" role="group">

                            <button type="button" class="btn btn-primary " onclick="meeting.openAddmeeting()">
                                <i class="fa fa-plus"></i>&nbsp;会议录入
                            </button>
                            <button type="button" class="btn btn-primary button-margin" onclick="meeting.modify()">
                                <i class="fa fa-pencil"></i>&nbsp;修改
                            </button>
                            <button type="button" class="btn btn-danger button-margin" onclick="meeting.del()">
                                <i class="fa fa-trash"></i>&nbsp;删除
                            </button>
                            <button type="button" class="btn btn-primary button-margin" onclick="meeting.view()">
                                <i class="fa fa-eye"></i>&nbsp;查看
                            </button>
                            <button type="button" class="btn btn-primary button-margin" onclick="meeting.openAllotManager()">
                                <i class="fa fa-pencil"></i>&nbsp;分配会务管理员
                            </button>
                            <button type="button" class="btn btn-primary button-margin" onclick="meeting.openPartmeeting()">
                                <i class="fa fa-list"></i>&nbsp;分会场管理
                            </button>
                        </div>
                        <table id="meetingTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/content.js?v=1.0.0"></script>
<script src="/modular/v4ward/meeting/meeting.js"></script>
</body>
</html>
